<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.limecn.ghmall">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name="cn.wingene.mallxf.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MallTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name="cn.wingene.mallxm.WgMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="cn.wingene.mallxm.MainActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->


        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="cn.wingene.mallxm.display.home.firstMenu.activity.ProductActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.game.LuckyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.purchase.CommodityDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.ShoppingCartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name="cn.wingene.mallxm.account.LoginActivity">
        </activity>
        <activity android:name="cn.wingene.mallxm.account.RegisterActivity">
        </activity>
        <activity android:name="cn.wingene.mallxm.account.RegisterFirstStepActivity">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.purchase.OrderAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.AddressAddActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.AddressManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.account.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.display.home.firstMenu.activity.ProductSecondActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.display.home.setting.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="cn.wingene.mallxm.display.home.firstMenu.activity.ProductRecommendActivity">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.display.home.firstMenu.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen"/>
        <activity
            android:name="cn.wingene.mallxm.display.home.setting.ChangeUserNameActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.display.home.setting.AboutAsActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DOm8RQ9UREkHtYuyzRGD0GlCoNM735fB"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity
            android:name="cn.wingene.mallxm.display.home.secondMenu.SpecialDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.purchase.LogisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.display.WebActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.purchase1.AddNewCardCountActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.purchase1.CashActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.purchase1.CashSuccessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.purchase.RechargeIndexActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.RechargeSubmitActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.RechargeResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.purchase.RechargeLogListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.wingene.mallxm.display.home.setting.SuggestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.wingene.mallxm.display.home.fiveMenu.MyCollectionActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- <activity -->
        <!-- android:name="cn.wingene.mallxm.map.MapActivity" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- </activity> -->
        <activity android:name="cn.wingene.mallxm.account.LoginChoiceActivity">
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent101431884"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- umengAppKey，replace to yours -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59cb9005677baa7bbf000fe1">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng">
        </meta-data>

        <activity
        android:name=".wxapi.WXPayEntryActivity"
        android:exported="true"
        android:launchMode="singleTop"/>
    </application>

</manifest>