<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.wingene.mall">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="cn.wingene.mallxf.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MallTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name="cn.wingene.mallxm.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.wingene.mallxm.display.home.firstMenu.activity.ProductActivity">
        </activity>
        <activity android:name="cn.wingene.mallxm.game.LuckyActivity">
        </activity>
        <activity android:name="cn.wingene.mallxm.purchase.CommodityDetailActivity"/>
        <activity android:name="cn.wingene.mallxm.purchase.ShoppingCartActivity"/>
        <activity android:name="cn.wingene.mallxm.account.LoginActivity">
        </activity>
        <activity android:name="cn.wingene.mallxm.account.RegisterActivity">
        </activity>
        <activity android:name="cn.wingene.mallxm.account.RegisterFirstStepActivity">
        </activity>
        <activity android:name="cn.wingene.mallxm.purchase.OrderAddActivity"/>
        <activity android:name="cn.wingene.mallxm.purchase.AddressAddActivity"/>
        <activity android:name="cn.wingene.mallxm.purchase.AddressManagerActivity"/>
        <activity android:name="cn.wingene.mallxm.account.ForgetPasswordActivity">
        </activity>
    </application>

</manifest>